<a href="/">Return to Ticket List</a> <br><br>

    <div>
    <h1>New Tickets: </h1>
    {% for single in single_ticket %}
    <ul>
    <li>{{single.title}} </li>
    <li>{{single.description}}</li>
    <li>{{single.posted }}</li>
    <li>{{single.user_ticket_creator}}</li>
    <li>{{single.user_assigned_ticket}}</li>
    <li>{{single.user_completed_ticket}}</li>
    <li>{{single.status}}</li>
    <li><i><a href="/edit/{{single.id}}/">Edit Ticket</a></i></li>
    </ul> 
    <br>
    {%empty%}
    <h3> Nothing to display </h3>
    {% endfor %}
    </div>

<br><br>
<a href='/logout/'>Logout</a>